.section {
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px #ddd;
}

.section__body {
    padding: 20px;
}


.section__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    margin: 0;
    font-size: 20px;
}

.section__buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

@media (max-width: 767px) {
    .section__buttons {
        flex-basis: 100%;
        margin: 10px;
    }
}

.section__button--header {
    color: teal;
    border: none;
    background-color: white;
    font-size: 18px;
    padding: 20px;
    transition: 1s;
}

.section__button--header:hover {
    color: hsl(180, 100%, 40%);
    cursor: pointer;
}

.section__button--hiddenAllDone:disabled {
    color: #ccc;
    cursor: not-allowed;
}
